<div class="login-form">
    <div class="login-form-inner homepage">
        <!-- <div date-picker="start" view="year"></div> -->

        <div class="show-list">
            <ul class="list-group">
                <li class="list-group-item active"> Properties</li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Meeting Password:</label>
                        </div>
                        <div class="col">
                            <input type="text" [(ngModel)]="meetingPassword" class="form-control" />
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Meeting Type:</label>
                        </div>
                        <div class="col">
                            <select class="meetingType form-control" (onchange)="onChange()">
                                <option value="Interactive Meeting">Interactive Meeting</option>
                                <option value="HD Video Conference">HD Video Conference</option>
                                <option value="Webinar">Webinar</option>
                                <option value="Remote Support">Remote Support</option>
                                <option value="Remote Access to this Computer">Remote Access to this Computer</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Meeting Date:</label>
                        </div>
                        <div class="col">
                            <input type="text" [(ngModel)]="meetingDate" class="form-control">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Start Time:</label>
                        </div>
                        <div class="col">
                            <input type="text" [(ngModel)]="meetingStartTime" class="form-control" />
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>End Time:</label>
                        </div>
                        <div class="col">
                            <input type="text" [(ngModel)]="meetingEndTime" class="form-control" />
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label class="checklist">Recurrence <input type="checkbox" [(ngModel)]="isRecurring" /></label>
                        </div>
                        <div class="col">

                        </div>
                    </div>


                </li>
            </ul>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="openMeetingManager()" type="button">
                <span class="ms-Button-label-new">Meeting Manager</span>
                <span class="ms-Button-description">Opens Meeting Manager</span>
            </button>
        </div>

    </div>
</div>