<div class="login-form" [hidden]="!meetingService.showMeetingDetails">
  <div class="login-form homepage">
    <a class="back-button" routerLink="/home"><img src="https://localhost:442/outlook-addin/assets/back.png" alt="" /> Back</a>
    <div class="show-list">
      <ul class="list-group">
        <li class="list-group-item active"> Meeting Details</li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-12">
              <label>Meeting Topic:</label>
            </div>
            <div class="col-12">
              <input name="topic" type="text" [(ngModel)]="meetingTopic" class="form-control" />
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-12">
              <label>Meeting Password:</label>
            </div>
            <div class="col-12">
              <input name="password" type="text" [(ngModel)]="meetingPassword" class="form-control" />
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-12">
              <label>Meeting Type:</label>
            </div>
            <div class="col-12">
              <select name="type" class="meetingType form-control" [(ngModel)]="meetingType">
                <option value="0">Interactive Meeting</option>
                <option value="1">Remote Support</option>
                <option value="2">Remote Access to this Computer</option>
                <option value="3">Webinar</option>
                <option value="4">HD Video Conference</option>
              </select>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-12">
              <label>Meeting Date:</label>
            </div>
            <div class="col-12">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="meetingDate" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-primary" (click)="d.toggle()" type="button">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-12">
              <label>Start Time:</label>
            </div>
            <div class="col-12">
              <ngb-timepicker [(ngModel)]="startTime" [meridian]="meridian" [hourStep]="hourStep" [minuteStep]="minuteStep" [size]="small"></ngb-timepicker>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-12">
              <label>End Time:</label>
            </div>
            <div class="col-12">
              <ngb-timepicker [(ngModel)]="endTime" [meridian]="meridian" [hourStep]="hourStep" [minuteStep]="minuteStep" [size]="small"></ngb-timepicker>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-12">
              <label class="checklist">Recurrence <input type="checkbox" [(ngModel)]="isRecurring" /></label>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block" type="button" (click)="sheduleMeeting()">
        <span class="ms-Button-label-new">Schedule Meeting</span>
      </button>
    </div>

  </div>
</div>

<div class="login-form" [hidden]="meetingService.showMeetingDetails">
  <div class="login-form-inner homepage">
    <a class="back-button" routerLink="/home"><img src="/assets/back.png" alt="" /> Back</a>
    <div class="show-list">
      <ul class="list-group">
        <li class="list-group-item"><label class="text-success text-center">Congratulations! Meeting is created.</label></li>

        <li class="list-group-item">
          <label><strong>Schedule</strong></label>
          <label>{{meetingService.meetingDate}}</label>
        </li>

        <li class="list-group-item">
          <label><strong>To join via web</strong></label>
          <label>Meeting ID - {{meetingService.meetingId}}</label>
          <label>Meeting Password - {{meetingService.meetingPassword}}</label>
          <label>Meeting URL - <a href="meetingService.meetingInviteURL" target="_blank">{{meetingService.meetingInviteURL}}</a></label>
        </li>

        <li class="list-group-item">
          <label><strong>To join via phone</strong></label>
          <label>Phone Number - {{meetingService.conferenceNumber}}</label>
        </li>
      </ul>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" (click)="sendInvite()" type="button">
        <span class="ms-Button-label-new">Add to Calendar</span>
      </button>
    </div>

  </div>
</div>
