.show-list {
    margin-bottom: 30px;
}

.show-list label {
    margin-bottom: 5px;
    padding-top: 0px;
    display: block;
    text-align: left;
}

.show-list .list-group-item.active {
    background-color: #76c8dc;
    border-color: #76c8dc;
}

.show-list .list-group-item:first-child {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    font-size: 20px;
}

.show-list p {
    margin-bottom: 0px;
    font-weight: bold;
}

.list-group-item {
    padding: .5rem 1rem;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.show-list label.checklist {
    padding: 0px;
    margin-bottom: 0px;
}

.checklist input[type='checkbox'] {
    position: relative;
    top: 2px;
}

.show-list label.time-top-space{
  padding-top:47px;
}
