<div class="login-form">
    <div class="login-form-inner">
        <img class="" src="http://localhost:4200/assets/logo.png" />
        <form (ngSubmit)="onSubmit()" id="login_form">
            <div class="form-group">
                <input class="form-control" name="email" placeholder="Username" type="text" [(ngModel)]="userName">
                <div class="error-mgs">Please enter correct email</div>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password" [(ngModel)]="password">
                <div class="error-mgs">Please enter correct password</div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    <span class="ms-Button-label-new">{{loginButtonText}}</span>
                    <span class="ms-Button-description">Login to ReachUC</span>
                </button>
            </div>
        </form>
    </div>
</div>