/* You can add global styles to this file, and also import other style files */

.login-form {
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

.login-form-inner {
    padding: 35px 25px 20px;
    margin: 30px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-form-inner.homepage {
    padding: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.signin-text {
    padding: 10px 10px 15px;
    background-color: #359bb4;
}

.signin-text p {
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin: 0px;
}

.login-form img.logo {
    width: 100px;
    margin-bottom: 30px;
}

.form-control {
    background-color: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    height: 35px;
    padding: 9px 12px;
}

.form-control:focus {
    box-shadow: none;
    -webki-box-shadow: none;
}

.form-control.height100 {
    height: 100px;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #359bb4;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #359bb4;
}

.btn.btn-primary {
    background-color: #359bb4;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    border-color: #359bb4;
    padding: 9px 12px;
}

.btn.btn-primary:hover {
    background-color: #19748a;
    border-color: #19748a;
}

.error-mgs {
    text-align: left;
    color: #f00;
}

.custom-dropdown .btn span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: #fff;
    margin-top: 5px;
}

.custom-dropdown .btn span:first-child {
    margin-top: 0px;
}

.custom-dropdown .dropdown-toggle::after {
    content: none;
}

.custom-dropdown .dropdown-menu {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    border-color: #ccc;
    position: relative;
    top: 100% !important;
}

.custom-dropdown .dropdown-item {
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.custom-dropdown .dropdown-item:hover {
    background-color: #19748a;
    color: #fff;
}

.custom-dropdown .dropdown-item.active,
.custom-dropdown .dropdown-item:active {
    background-color: #19748a;
}

.back-button {
    display: block;
    color: #359bb4;
    margin: 5px 0px;
    text-align: left;
    overflow: hidden;
}

.back-button img {
    float: left;
    margin-right: 5px;
    margin-bottom: 0px;
    width: 9px;
    position: relative;
    top: 4px;
}

.response-loader {
    background: rgba(255, 255, 255, .6) url('assets/images/loader.gif') no-repeat 50% 50%;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 9;
}


/* modal css */

.modal-header {
    padding: 10px 16px;
    background-color: #359bb4;
}

.modal-header .modal-title {
    color: #fff;
    font-size: 18px;
    line-height: 23px;
}

.modal-header .close {
    color: #fff;
    opacity: 1;
    line-height: 17px;
    text-shadow: none;
    -webkit-text-shadow: none;
}

.modal-footer {
    padding: 10px 16px;
}

.modal-footer .btn {
    font-weight: 400 !important;
    letter-spacing: normal !important;
    padding: 5px 12px;
}

select.form-control {
    padding: 0px 7px;
}

.over-hidden {
    width: 100%;
    overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.show-list.showlist-without-heading .list-group-item:first-child {
    font-size: 16px !important;
}

.btn-action.btn-action-active img {
    padding: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(53, 155, 180, 1);
}

.btn-action.btn-action-active:focus img,
.btn-action.btn-action-active:hover img {
    box-shadow: 0 0 0 2px rgba(53, 155, 180, 1);
}

.ContactActionButton .btn {
    display: inline-block;
    background-color: transparent;
    padding: 0px;
    margin-left: 3px;
}

.show-list.show-list--contactlist li a {
    font-size: 14px;
    line-height: 14px;
    display: block;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    color: #212529;
}

.ContactActionButton {
    margin-top: 9px;
}

.disable-btn {
    opacity: 0.3 !important;
}

.btn.btn-calender {
    padding: 0 7px 4px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}