<div class="login-form">
    <div class="login-form-inner homepage">
        <div class="custom-dropdown dropdown">
            <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" (click)="openMeetingManager()" type="button">
                    <span class="ms-Button-label-new">Meeting Manager</span>
                    <span class="ms-Button-description">Opens Meeting Manager</span>
                  </button>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>

        <!-- <br>
        <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="openMeetingManager()" type="button">
              <span class="ms-Button-label-new">Meeting Manager</span>
              <span class="ms-Button-description">Opens Meeting Manager</span>
            </button>
        </div> -->
        <div class="clearfix"></div>
        <div class="show-list">
            <ul class="list-group">
                <li class="list-group-item active">User/Domain</li>
                <li class="list-group-item">
                    <p>Domain</p>
                    {{ domain }}
                </li>
                <li class="list-group-item">
                    <p>User</p>
                    {{ user }}
                </li>
                <li class="list-group-item">
                    <p>Area</p>
                    {{ areaCode }}
                </li>
            </ul>
        </div>

        <div class="show-list">
            <ul class="list-group">
                <li class="list-group-item active"> Properties</li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Country Code</label>
                        </div>
                        <div class="col">
                            <input class="form-control" name="contry code" placeholder="Contry Code">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Int. Prefix</label>
                        </div>
                        <div class="col">
                            <input class="form-control" name="Int. Prefix" placeholder="Int. Prefix">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Dial Length</label>
                        </div>
                        <div class="col">
                            <input class="form-control" name="Dial Length" placeholder="11">
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div id="numbers"></div>
        <br />
        <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="onClick()" type="button">
        <span class="ms-Button-label-new">Dialer</span>
        <span class="ms-Button-description">Login to ReachUC</span>
      </button>
        </div>

    </div>
</div>