<div class="login-form">
    <div class="login-form-inner homepage">

        <div ngbDropdown class="custom-dropdown">
            <button class="btn btn-primary btn-block " id="dropdownBasic1" ngbDropdownToggle>
              <span></span>
              <span></span>
              <span></span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="openMeetingManager()" type="button">
          <span class="ms-Button-label-new">Meeting Manager</span>
        </button>
                <button class="dropdown-item" (click)="openDialer()" type="button">
          <span class="ms-Button-label-new">Dialer</span>
        </button>
                <a class="dropdown-item" target="_blank" href="https://www.reachuc.com">
          Open ReachUC
        </a>
                <button class="dropdown-item" (click)="logout()" type="button">
          <span class="ms-Button-label-new">Logout</span>
        </button>
            </div>
        </div>

        <div class="clearfix"></div>
        <!-- <div class="show-list">
            <ul class="list-group">
                <li class="list-group-item active">User/Domain</li>
                <li class="list-group-item">
                    <p>Domain</p>
                    {{ domain }}
                </li>
                <li class="list-group-item">
                    <p>User</p>
                    {{ user }}
                </li>
                <li class="list-group-item">
                    <p>Area</p>
                    {{ areaCode }}
                </li>
            </ul>
        </div> -->

        <div class="show-list custom-collapse-heading">
            <button type="button" class="btn btn-primary btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                User/Domain <img src="assets/down-arrow.png" alt="">
            </button>
            <div id="collapseExample" [ngbCollapse]="isCollapsed">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Domain</p>
                        {{ domain }}
                    </li>
                    <li class="list-group-item">
                        <p>User</p>
                        {{ user }}
                    </li>
                    <li class="list-group-item">
                        <p>Area</p>
                        {{ areaCode }}
                    </li>
                </ul>
            </div>
        </div>



        <div class="show-list">
            <ul class="list-group">
                <li class="list-group-item active"> Properties</li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Country Code</label>
                        </div>
                        <div class="col">
                            <input class="form-control" name="contry code" placeholder="Contry Code" [(ngModel)]="countryCode">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Int. Prefix</label>
                        </div>
                        <div class="col">
                            <input class="form-control" name="Int. Prefix" placeholder="Int. Prefix" [(ngModel)]="prefix">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Dial Length</label>
                        </div>
                        <div class="col">
                            <input class="form-control" name="Dial Length" placeholder="11" [(ngModel)]="dialerLength" (change)="getNumbersFromMail()">
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="show-list">
            <ul class="list-group">
                <li class="list-group-item active"> Phone Numbers</li>
                <li class="list-group-item" *ngFor="let num of phoneNumbers">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="javascript:void(0)" class="contact-nunbers">{{countryCode}}{{num}}</a>
                            <div class="right-action-button">
                                <div ngbDropdown class="custom-dropdown new-call-dropdown">
                                    <button title="A" type="button" class="btn btn-action" ngbDropdownToggle>
                                      <img src="assets/phone.png" alt="">
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <div class="sms-container">
                                            <div class="form-group">
                                                <textarea [value]="num" rows="3" class="form-control"></textarea>
                                            </div>
                                            <button type="button" class="btn btn-primary btn-block">Send SMS</button>
                                        </div>
                                    </div>
                                </div>
                                <div ngbDropdown class="custom-dropdown new-call-dropdown ">
                                    <button title="B " type="button " class="btn btn-action" ngbDropdownToggle>
                                        <img src="assets/sendfax.png " alt="">
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1 ">
                                        <div class="fax-container">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Selected File:</label>
                                                    </div>
                                                    <div class="col">
                                                        <div class="selectfiles">
                                                            <input type="file" (change)="handleFileInput($event.target.files)" />
                                                            <a href="" class="selecttext form-control">Upload file</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Phone:</label>
                                                    </div>
                                                    <div class="col">
                                                        <input type="tel" [value]="num " class="form-control" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Caller Id:</label>
                                                    </div>
                                                    <div class="col">
                                                        <input type="text " class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <button (click)="sendFax()" class="btn btn-primary btn-block">Send</button>
                                                </div>
                                                <div class="col">
                                                    <button (click)="showFaxDiv()" class="btn btn-primary btn-block">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <br />

        <button class="btn btn-success " (click)="getOuthToken() " type="button ">
          <span class="ms-Button-label-new ">Outh</span>
        </button>
    </div>
</div>